.toggle .nav-toggler-icon {
  color: #ffffff;
  background-color: #000066;
}
.collapse {
  margin-top: 0.25em;
  background-color: #000066;
  color: #ffffff;
}
.collapse:link {
  color: #ffffff;
}
.pillbox {
  margin-top: 0.5rem;
}
.link {
  color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.link:hover {
  background-color: #ffffff;
  color: #000066;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.homeIcon {
  height: 32px;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 15px;
  vertical-align: text-bottom;
}
.infoIcon {
  height: 32px;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 20px;
  vertical-align: text-bottom;
}
.servicesIcon {
  height: 32px;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 12px;
  vertical-align: text-bottom;
}
.blogIcon {
  height: 32px;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 17px;
  vertical-align: text-bottom;
}
.connectIcon {
  height: 32px;
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 13px;
  vertical-align: text-bottom;
}
