.container {
  margin: 0;
  min-width: fit-content;
}
.services {
  background: url('/images/service-cover.jpg');
  background-size: cover;
  height: 360px;
  min-width: 485px;
}
.subtitle {
  color: #fff;
  font-size: 3rem;
}
.code {
  color: #6ccff6;
  font-size: 1.5rem;
}
