.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #000066;
  border-color: #6ccff6;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.aboutcard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #6ccff6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.aboutcard .top {
  background-image: url('/images/about-cover.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.3);
  height: 100px;
}
.aboutcard .middle {
  background: #fff;
}
.aboutcard .bottom {
  background: #fff;
}

.aboutcard .caption {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.aboutcard .caption .title {
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.aboutcard .caption .button {
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
}

.servicescard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #6ccff6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.servicescard .top {
  background-image: url('/images/service-cover.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.3);
  height: 100px;
}
.servicescard .middle {
  background: #fff;
}
.servicescard .bottom {
  background: #fff;
}

.servicescard .caption {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.servicescard .caption .title {
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.servicescard.caption .button {
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
}

.blogcard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #6ccff6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.blogcard .top {
  background-image: url('/images/blog-cover.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.3);
  height: 100px;
}
.blogcard .middle {
  background: #fff;
}
.blogcard .bottom {
  background: #fff;
}

.blogcard .caption {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.blogcard .caption .title {
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.blogcard.caption .button {
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
}

.connectcard {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #6ccff6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.connectcard .top {
  background-image: url('/images/connect-cover.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.3);
  height: 100px;
}
.connectcard .middle {
  background: #fff;
}
.connectcard .bottom {
  background: #fff;
}

.connectcard .caption {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.connectcard .caption .title {
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.connectcard .caption .button {
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
}

.aboutcard:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}

.servicescard:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}

.blogcard:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}

.connectcard:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
  box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}
