.brandRow {
  background: #000066;
}
.brandNav {
  background: #000066;
  margin-left: 0;
  padding: 0;
}
.logoCol {
  padding-top: 1em;
  flex-basis: 3%;
}
.titleCol {
  padding-top: 1em;
}
.navRow {
  background: #000066;
}
.logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}
.link:link {
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.link:hover {
  text-decoration: none;
}
.wrapper {
}
.title {
  color: #fff;
  font-size: 2.3em;
  line-height: 0.9;
}

.address {
  font-size: 1.3em;
  color: #6ccff6;
  line-height: 0.9;
  margin: 0;
}
