.container {
  margin: 0;
  min-width: fit-content;
}
.blog {
  background: url('/images/blog-cover.jpg');
  background-size: cover;
  height: 360px;
  min-width: 485px;
}
.subtitle {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000066;
}
.code {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bolder;
  width: fit-content;
  padding-bottom: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000066;
}
