.blog {
  background: url('/images/blog-cover.jpg');
  background-size: cover;
  height: 360px;
}
.subtitle {
  color: #fff;
  line-height: 1.15;
  margin-block-start: 0;
  font-size: 3rem;
}
.code {
  color: #6ccff6;
  font-size: 1.5rem;
}
