.container {
  padding: 0;
  margin: 0;
}
.connect {
  background: url('/images/connect-cover.jpg');
  background-size: cover;
  height: 360px;
  min-width: 485px;
  margin-top: -2px;
}
.subtitle {
  color: #fff;
  font-size: 3rem;
  margin-top: 2px;
}
.code {
  color: #6ccff6;
  font-size: 1.5rem;
}
.cRow {
  margin-bottom: 1rem;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
}
.cCol {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.cCard {
  background-color: #fff;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #6ccff6;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.cCard:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
  box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
  border-radius: 1em/1em;
}
.deck {
  background-color: #000066;
}
.discordIcon {
  color: #000066;
  border-radius: 10px 10px 0 0;
  background-color: #6ccff6;
  height: 200px;
  padding: 1.5em;
}
.atIcon {
  color: #000066;
  border-radius: 10px 10px 0 0;
  background-color: #6ccff6;
  height: 200px;
  padding: 1.5em;
}
.cbtext {
  padding-bottom: 1rem;
}
