.container {
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.connect {
  background: url('/images/connect-cover.jpg');
  background-size: cover;
  height: 360px;
  min-width: 485px;
  margin-top: -2px;
}
.subtitle {
  color: #fff;
  font-size: 3rem;
  margin-top: 2px;
}
.code {
  color: #6ccff6;
  font-size: 1.5rem;
}
.cCard {
  background-color: #fff;
}
.discordIcon {
  color: #000066;
  background-color: #6ccff6;
  height: 200px;
}
.atIcon {
  color: #000066;
  background-color: #6ccff6;
  height: 200px;
}
.cbtext {
  padding-bottom: 1rem;
}
