.subtitle {
  color: #6ccff6;
  line-height: 1.15;
  font-size: 2rem;
}

.code {
  padding: 4px;
  background: #6ccff6;
  color: #000066;
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.hero {
  width: 100vw;
}

.headline {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60vw;
  height: max-content;
  padding: 1rem;
  background: rgb(0, 0, 102, 0.4);
  border-radius: 1rem;
  border: 0.1rem solid #fefefe;
  box-shadow: 4px 8px rgba(108, 207, 246, 0.2),
    0 6px 20px 0 rgba(108, 207, 246, 0.2);
}
